.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonItem {
  margin: 10px 0;
  width: 200px;
  height: 50px;
}

.buttonItem Button {
  width: 100%;
  height: 100%;
}
