.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #45a049;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 6px 18px -5px rgba(0, 0, 0, 0.75);
  animation: modalAppear 0.15s ease-out forwards;
}

@keyframes modalAppear {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.acceptButton {
  background-color: #005b21;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px rgb(0, 66, 25);
}

.inputContainer {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  padding-right: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
